.App{
    display: block;
}
body{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 28px;
}

h1, h2{
    text-align: center;
    color: white;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 20px;
    margin-top: 20px;
}

img{
    width: 52px;
    padding: 2px;
}

textarea{

    padding: 5px 8px;
    border-radius: 5px;
    resize: none;
    width: 50%;

}

.termometro{
    margin-top: 10px;
    width: 30%;
}

.emojis-box > img {
    opacity: 0.6;
}
.emojis-box > img:hover {
    background: rgb(192, 192, 192);
    border-radius: 20px;
}

ol {
    counter-reset: listNumbering;
}

li {
    font-size: 22px;
    counter-increment: listNumbering;
}

.header-content{
    background-color: #243573;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_info_store{ 
    width: 120px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px) {
    *{
        text-align: center;
    }

    h1{font-size: 24px;}
    h2{font-size: 22px;}
    h3{font-size: 20px; margin-top: 2px; padding: 4px;}
    h4{font-size: 18px; margin-top: 15px; padding: 1px;}

    textarea{
        width: 90%;
        text-align: center;
        border-radius: 8px;
    }

   li{
       list-style-type: none;
   }

  .emojis-box > img{
       width: 42px;
       padding: 0px;
       margin-right: 10px;
   }
   
   ol{
       padding: 0px;
   }

   .logo_info_store{
       height: 100%;
   }

   .btn-primary{
       margin-top: 5px;
       width: 90%;
   }
}