.App{
    display: block;
}
body{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'Gotham-Book';
    src: local('Gotham-Book'), url(./assets/fonts/gothan/gothan/Gotham-Book.otf) format('opentype');
}

@font-face{
    font-family: 'Gotham-Medium';
    src: local('Gotham-Medium'), url(./assets/fonts/gothan/gothan/Gotham-Medium.otf) format('opentype');
}

@font-face{
    font-family: 'Gotham-Light';
    src: local('Gotham-Light'), url(./assets/fonts/gothan/gothan/Gotham-Light.otf) format('opentype');
}

h3,h4{ 
    font-family: 'Gotham-Medium';
    src: url('./assets/fonts/gothan/gothan/Gotham-Medium.otf');
}

h1{
    font-family: 'Gotham-Book';
    src: url('./assets/fonts/gothan/gothan/Gotham-Book.otf');
    font-size: 30px;
}

h2{
    font-family: 'Gotham-Light';
    src: url('./assets/fonts/gothan/gothan/Gotham-Light.otf');
    font-size: 28px;
}

h1, h2{
    text-align: center;
    color: white;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 20px;
    margin-top: 20px;
}

img{
    width: 52px;
    padding: 2px;
}
.emojis-box > img {
    opacity: 0.6;
}
textarea{

    padding: 5px 8px;
    border-radius: 5px;
    resize: none;
    width: 50%;
    font-style: 'Gotham-Ligth';
    src: url('./assets/fonts/gothan/gothan/Gotham-Light.otf');
    
}

.termometro{
    margin-top: 10px;
    width: 30%;
}

.emojis-box > img:hover {
    background: rgb(192, 192, 192);
    border-radius: 20px;
}

ol {
    counter-reset: listNumbering;
}

li {
    font-size: 22px;
    counter-increment: listNumbering;
}

.header-content{
    background-color: #243573;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_info_store{ 
    width: 120px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px) {
    *{
        text-align: center;
    }

    h1{font-size: 24px;}
    h2{font-size: 22px;}
    h3{font-size: 20px;}
    h4{font-size: 20px; margin-top: 15px; margin-bottom: 5px;}

    textarea{
        width: 90%;
        text-align: center;
        background-color: rgb(214, 214, 214);
        border-radius: 15px;
    }

   li{
       list-style-type: none;
   }

  .emojis-box > img{
       width: 60px;
       padding: 0px;
       margin-right: 4px;
       opacity: 0.6;
   }
   
   ol{
       padding: 0px;
   }

   h3{
       color: white;
       background-color: rgba(52, 49, 255, 0.623);
       font-size: 19px;
       padding: 12px;
    }

   h4{
       font-size: 16px;
       margin-top: 20px;
       color: #243573;
       padding: 8px;
       border-radius: 20px;
       background-color: rgba(172, 172, 172, 0.315);
       margin: 18px 70px 5px 70px;
    }

   .termometro{
       width: 60%;
   }
   .logo_info_store{
       height: 100%;
   }

   .btn-primary{
       margin-top: 5px;
       width: 30%;
       border-radius: 20px;
   }
}